#header {
    position: relative;
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
} 

.header h1 {
    font-size: 6rem;
    font-weight: 900;
    line-height: 1.4;
    text-transform: uppercase;
    color: black;
    position: relative;
    padding-bottom: .5rem;
    padding-top: 2rem;
}

.header h1 span {
    display: block;
}

h1 span:nth-child(1) {
    font-weight: 800;
}

h1 span:nth-child(2),h1 span:nth-child(3) {
    color: black;
    font-weight: 100;
}

.header h1::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 75%;
    height:1px;
    background-color: var(--color-white);
}

.header-left p{
    margin: 5rem 0;
    width: 75%;
    color: black;
    font-weight: 600;
}

.header-right img {
    width: 30rem;
    height: auto;
    padding-top: 4.5rem;
}

.floating-icons {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    cursor: pointer;
}

.floating-icons a {
    margin-top: 90px;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    left: 30%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mouse {
    margin-top: 90px;
    scroll-behavior: smooth;
    transform: translateY(-25%);
    animation: bounce 1s ease infinite alternate;
}


@keyframes bounce {
    0% {
        transform: translateY(-10%);
    }
    25%{
        transform: translateY(-5%);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(5%);
    }
    100%{
        transform: translateY(20%);
    }
}

@media screen and (max-width: 769px){
    .header h1{
        font-size: 3rem;
    }
}

@media screen and (max-width: 600px){
    .header {
        display: flex;
        flex-direction: column;
    }

    .floating-icons, .floating-icons a, .mouse{
        display: none;
        left: 0;
        transform: translateX(0);
    }

    .header-left,.header-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .header-left {
        margin-bottom: 4rem;
    }

    .header h1 ::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .header-right img{
        width: 80%;
    }
    .floating-icons{
        position: relative;
    }
}