section#support {
    width: 100%;
    height: 100%;
    min-width: 100vh;
    min-width: 100%;
    text-align: center;
}

.logo__support h2 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 1.5rem 0;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

p.title__support {
    display: inline;
}

.column {
    margin-top: 50px;
    margin-bottom: 50px;
}

.support__list{
    justify-content: space-around;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.container__support{
    position: relative;
    margin: 10px;
    width: 200px;
    border-radius: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.image__bawor{
  display: block;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.overlay, .overlay__bawor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
}

.overlay__bawor:hover{
  transition: .5s;
  transform: translate(0%,100%);
}

.overlay:hover{
  transition: .5s;
  transform: translate(0%,70%);
}

.container__support:hover .overlay,.container__support:hover .overlay__bawor {
  opacity: 1;
  cursor: pointer;
}

.text {
  font-size: 25px;
  color: var(--text-dark);
  text-shadow: 0px 0px 24px rgba(0,0,0,0.56);
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 600px){
  .support__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .container__support{
    margin-bottom: 100px;
  }
  .suport__card {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    width: 50%;
  }
  .suport__card img {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
  }
}